.nav {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  box-shadow: 0 1px 3px -2px black;
  margin-bottom: -3px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-link-text {
  color: grey;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}
.nav-logo img {
  height: 60px;
  width: auto;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
  font-weight: 500;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav-login-cart button {
  width: 125px;
  height: 42px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  background: white;
}
.nav-login-cart button:active {
  background: #f3f3f3;
}
.nav-cart-count {
  width: 20px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.nav-cart-icon {
  width: 35px;
  height: 35px;
}

.navbar-collapse {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: var(--black-color);
  height: 100%;
  width: 280px;
  display: flex;
  padding: 10rem 3rem 0 3rem;
  transform: translatex(100%);
  transition: var(--transition);
}
.hamburger-menu {
  background-color: transparent;
  border: none;
}
.show-navbar-collapse {
  transform: translateX(0);
}
.navbar-toggler-btn {
  display: none;
}
.small-screen-nav-menu {
  display: none;
}

/*  */
.navbar {
  padding: 1.8rem 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.navbar-brand {
  width: 90px;
}
.navbar-brand span {
  margin-left: 2rem;
}
.brand-and-toggler {
  width: 100%;
}
.navbar-content {
  display: flex;
  width: 100%;
}
.navbar-toggler-btn {
  transition: var(--transition);
  z-index: 11;
}
.navbar-collapse {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: var(--black-color);
  height: 100%;
  width: 280px;
  display: flex;
  padding: 10rem 3rem 0 3rem;
  transform: translatex(100%);
  transition: var(--transition);
}
.show-navbar-collapse {
  transform: translateX(0);
}
.nav-item {
  margin-bottom: 1.4rem;
}
.nav-link {
  transition: var(--transition);
}
.nav-link:hover {
  color: var(--purple-color);
}

@media screen and (max-width: 715px) {
  .navbar-toggler-btn {
    display: block;
    height: 50px;
    margin-top: 10px;
    padding: 0;
    height: 40px;
  }
  .nav {
    width: 94%;
  }
  .nav p {
    display: none;
  }
  .nav-login-cart button {
    font-size: 0; /* Set font size to 0 to hide text */
    padding: 0px; /* Increase padding for circular appearance */
    border-radius: 50%; /* Apply border radius for circular appearance */
    height: 30px;
    width: 30px;
  }

  .nav-login-cart button::before {
    content: "\1F464"; /* Unicode character for a user icon */
    font-size: 16px; /* Adjust the icon size as needed */
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px; /* Add some spacing between the icon and the border */
    border: none;
  }
  .nav-login-cart img {
    height: 30px;
    width: 30px;
    margin-bottom: -6px;
    margin-left: 50px;
  }

  .nav-menu {
    display: none;
  }
  .navbar-collapse {
    position: relative;
    height: auto;
    padding: 0;
    width: 100%;
    background-color: transparent;
    transform: translateX(3);
    justify-content: flex-end;
  }
  .small-screen-nav-menu {
    display: block;
    /* position: relative; */
    /* background-color: #fbdfd5; */
    background-color: white;
    list-style-type: none;
    margin-left: 0;
    padding-right: 20px;
    padding-left: 50px;
  }
  .nav-link {
    color: #000000;
    font-size: 1.7rem;
    opacity: 0.8;
    text-decoration: none;
    padding-right: 90px;
  }

  .show-navbar-collapse {
    margin-top: -93px;
    padding-top: 0;
    padding-left: 0;
    margin-right: -40px;
    width: 158px;
  }
  .test {
    position: relative;
    margin-left: -30px;
  }
}
